{{template "article-header.html" .article}}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <input type="hidden" value="{{.article.Id}}" class="article-id"/>
                {{.article.Html}}
                <div class="before-and-next cf center">
                    <a href="/article/{{.previous}}" class="before-article">上一篇</a>
                    <a href="/article/{{.next}}" class="next-article">下一篇</a>
                </div>
            </div>

        </div>
    </div>
</article>