<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ul class="thumbnails">
                <span id="condensed" class="condensed">
                <i title="Condensed"
                   class="fa fa-list-ul"></i>
                </span>
                {{range .articles}}
                <li class="thumbnails-li">
                    <div class="thumbnails-article">
                        <a href="/article/{{.Id}}">
                            <h2 class="article-title">{{.Name}}</h2>
                        </a>
                        <div class="article-info">
                            {{.Time}}
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
            <div id="loading" style="display: none;" class="loading">加载中!</div>
            <div id="nomoreresults" style="display: none;" class="loading">没有更多内容了!</div>
            <input type="hidden" id="contentType" name="contentType" value=""/>
            <input type="hidden" id="contentName" name="contentName" value=""/>
        </div>
        <div class="col-md-3">
            {{template "widget.html" .}}
            <script type="text/javascript">
                $(function () {
                    $("#nav-home").addClass("active");
                });
            </script>
        </div>
    </div>
</div>