<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {{range .articles}}
            <div class="post-preview">
                <a href="/article/{{.Id}}">

                    <h2 class="post-title">
                        {{.Name}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{.Subtitle}}
                    </h3>
                </a>
                <p class="post-meta"><a href="#">jjz</a>写于: {{.Time}}</p>
            </div>
            <hr>

            {{end}}

            <div id="loading" style="display: none;" class="loading">加载中!</div>
            <div id="nomoreresults" style="display: none;" class="loading">没有更多内容了!</div>
            <input type="hidden" id="contentType" name="contentType" value=""/>
            <input type="hidden" id="contentName" name="contentName" value=""/>
        </div>
        <div class="col-md-3">

            <script type="text/javascript">
                $(function () {
                    $("#nav-home").addClass("active");
                });
            </script>
        </div>
    </div>
</div>
