<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="font-awesome-css" href="/static/bower_components/font-awesome/css/font-awesome.min.css"
          type="text/css"
          media="screen">

    <link rel="stylesheet" href="/static/bower_components/clean-blog/css/clean-blog.min.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/clean-blog.css">
    <link type="text/css" rel="stylesheet" href="/static/bower_components/google-code-prettify/bin/prettify.min.css">

    <title>姜家志</title>
</head>
<body>

{{.LayoutContent}}
{{template "footer.html"}}
<div class="scroll-back-to-top-wrapper">

</div>
</body>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/google-code-prettify/bin/prettify.min.js"></script>
<script src="/static/bower_components/clean-blog/js/clean-blog.min.js"></script>
<script type="text/javascript" src="/static/bower_components/google-code-prettify/bin/prettify.min.js"></script>



<script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?398f5233aec0af06b25dde50d29184dc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


</html>