<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="font-awesome-css" href="/static/bower_components/font-awesome/css/font-awesome.min.css"
          type="text/css"
          media="screen">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <title>妙木山</title>
</head>
<body>
{{template "header.html"}}
{{.LayoutContent}}
{{template "footer.html"}}
<div class="scroll-back-to-top-wrapper">
    <span class="scroll-back-to-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>
</body>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/google-code-prettify/bin/prettify.min.js"></script>
<script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?398f5233aec0af06b25dde50d29184dc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


</html>